services:
  opensearch:
    image: opensearchproject/opensearch:2.11.1
    container_name: opensearch-lbt4x4nofmoffri
    environment:
      - discovery.type=single-node
      - DISABLE_SECURITY_PLUGIN=true
      - OPENSEARCH_JAVA_OPTS=-Xms8g -Xmx8g
    ports:
      - "9200:9200"
    volumes:
      - geo_poc_os_lbt_4x4_nofm_offri:/usr/share/opensearch/data
    deploy:
      resources:
        limits:
          cpus: "6"
          memory: "16g"
    healthcheck:
      test: ["CMD-SHELL", "curl -s http://localhost:9200/_cluster/health | grep -q 'green\\|yellow'"]
      interval: 10s
      timeout: 5s
      retries: 10

  opensearch-dashboards:
    image: opensearchproject/opensearch-dashboards:2.11.1
    container_name: opensearch-dashboards-lbt4x4nofmoffri
    environment:
      - OPENSEARCH_HOSTS=http://opensearch:9200
      - DISABLE_SECURITY_DASHBOARDS_PLUGIN=true
    ports:
      - "5601:5601"
    depends_on:
      opensearch:
        condition: service_healthy

volumes:
  geo_poc_os_lbt_4x4_nofm_offri:
